<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="secureBasic" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="secureWindows" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="OpenSourceSoap">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport" />
                </binding>
                <binding name="OpenSourceSoap1">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
                <binding name="BasicHttpBinding_IFoxProService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.77.146.183/foxproservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFoxProService" contract="FoxProServiceReference.IFoxProService"
                name="BasicHttpBinding_IFoxProService" />
        </client>
    </system.serviceModel>
</configuration>