<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="reportLocation" value="reports/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="EpicorServer" value="SARV-APPEPCRP01"/>
    <add key="EpicorDatabaseServer" value="SARV-SQLPROD01"/>
    <add key="EpicorDatabase" value="EpicorDB"/>
    <add key="EpicorUsername" value="RailsAppUserP"/>
    <add key="EpicorPassword" value="wA7tA1FaBS1MpLaU"/>

    <add key="PowerAnalyzerServer" value="SARV-SQLPROD01"/>
    <add key="PowerAnalyzerDatabase" value="PowerAnalyzer"/>
    <add key="PowerAnalyzerUsername" value="AppPowerAnalyser"/>
    <add key="PowerAnalyzerPassword" value="aps71yncH3S7I0US"/>

    <add key="WebQuoteServer" value="10.77.146.187"/>
    <add key="WebQuoteDatabase" value="wbq_production"/>
    <add key="WebQuoteUsername" value="ror"/>
    <add key="WebQuotePassword" value="SomePW23"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
