<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- PROD
    <add key="EpicorServer" value="SARV-APPEPCRP01"/>
    <add key="EpicorDatabaseServer" value="SARV-SQLPROD01"/>
    <add key="EpicorDatabase" value="EpicorDB"/>
    <add key="EpicorUsername" value="RailsAppUserP"/>
    <add key="EpicorPassword" value="wA7tA1FaBS1MpLaU"/>
    
    <add key="TCStageServer" value="STLV-SQLPROD16" />
    <add key="TCStageDatabase" value="TC_Epicor_DBP" />
    <add key="TCStageUsername" value="tc_erp" />
    <add key="TCStagePassword" value="MtemL7gnJRXVG4t5" />
    -->
    
    <!-- DEV -->
    <add key="EpicorServer" value="SARV-APPEPCRD01"/>
    <add key="EpicorDatabaseServer" value="SARV-SQLDEV01"/>
    <add key="EpicorDatabase" value="EpicorDB_D"/>
    <add key="EpicorUsername" value="RailsAppUser"/>
    <add key="EpicorPassword" value="2fe8wJcH"/>

    <add key="TCStageServer" value="STLV-SQLTEST06" />
    <add key="TCStageDatabase" value="TC_Epicor_DBT" />
    <add key="TCStageUsername" value="tc_erp" />
    <add key="TCStagePassword" value="54QBduQM" />

    <add key="EmailServer" value="SARV-SQLPROD01"/>
    <add key="EmailDatabase" value="EpicorDB"/>
    <add key="EmailUsername" value="RailsAppUserP"/>
    <add key="EmailPassword" value="wA7tA1FaBS1MpLaU"/>
    <add key="TCEmailDistribution" value="jfsoftwarellc@gmail.com" />

    <add key="OprTimesLoc" value="C:\\\\CycleTimeMatrix.xlsx"/>
    <add key="OprTimesDriverLoc" value="C:\\\\OpTimesSegmentDriver.xlsx"/>


  </appSettings>
</configuration>