<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="OprTimesLoc" value="C:\\\\CycleTimeMatrix.xlsx"/>
    <add key="OprTimesDriverLoc" value="C:\\\\OpTimesSegmentDriver.xlsx"/>
    <add key="EpicorDatabaseServer" value="SARV-SQLPROD01"/>
    <add key="EpicorDatabase" value="EpicorDB"/>
    <add key="EpicorUsername" value="RailsAppUserP"/>
    <add key="EpicorPassword" value="wA7tA1FaBS1MpLaU"/>

  </appSettings>
</configuration>