<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Styleline.WinAnalyzer.WinClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PowerAnalyzerConnectionString" connectionString="Data Source=SARV-SQLPROD01;Initial Catalog=PowerAnalyzer;User ID=AppPowerAnalyserP;Password=3orInY5T1Rancy5T" providerName="System.Data.SqlClient"/>
    <!--<add name="PowerAnalyzerConnectionString" connectionString="Data Source=SARV-SQLDEV01;Initial Catalog=PowerAnalyzer;User ID=AppPowerAnalyser;Password=aps71yncH3S7I0US" providerName="System.Data.SqlClient"/>-->
    <!--    <add name="PowerAnalyzerConnectionString"
     connectionString="Data Source=192.168.82.240;Initial Catalog=PowerAnalyzer;User ID=poweranalyzer;Password=p@nalyzer"
     providerName="System.Data.SqlClient" /> -->

  </connectionStrings>
  <appSettings>
    <add key="server" value="SARV-SQLPROD01"/>
    <add key="database" value="PowerAnalyzer"/>
    <add key="vantage_database" value="EpicorDB"/>
    <add key="user" value="RailsAppUserP"/>
    <add key="password" value="wA7tA1FaBS1MpLaU"/>
    <add key="pa_user" value="AppPowerAnalyserP"/>
    <add key="pa_password" value="3orInY5T1Rancy5T"/>

    <!--<add key="server" value="SARV-SQLDEV01"/>
    <add key="database" value="PowerAnalyzer"/>
    <add key="vantage_database" value="EpicorDB_PG"/>
    <add key="user" value="RailsAppUser"/>
    <add key="password" value="2fe8wJcH"/>
    <add key="pa_user" value="AppPowerAnalyser"/>
    <add key="pa_password" value="aps71yncH3S7I0US"/>-->


    <!--    <add key="server" value="192.168.82.240"/>
    <add key="database" value="PowerAnalyzer"/>
    <add key="user" value="poweranalyzer"/>
    <add key="password" value="p@nalyzer"/> -->
    
<!--    <add key="company" value="PRC1"/> -->
    <add key="company" value="CRD"/>
  </appSettings>
  <applicationSettings>
    <Styleline.WinAnalyzer.WinClient.Properties.Settings>
      <setting name="ComPort" serializeAs="String">
        <value/>
      </setting>
      <setting name="EnableFramelineRecord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDoorlineRecord" serializeAs="String">
        <value>False</value>
      </setting>
    </Styleline.WinAnalyzer.WinClient.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
