<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="EpicorServer" value="SARV-APPEPCRD01"/>
    <add key="EpicorDatabaseServer" value="SARV-SQLDEV01"/>
    <add key="EpicorDatabase" value="EpicorDB_D"/>
    <add key="EpicorUsername" value="RailsAppUser"/>
    <add key="EpicorPassword" value="2fe8wJcH"/>
  </appSettings>
</configuration>
