<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <remove name="secureBasic" />
        <binding name="secureBasic" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <remove name="secureWindows" />
        <binding name="secureWindows" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <remove name="OpenSourceSoap" />
        <binding name="OpenSourceSoap">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" />
        </binding>
        <remove name="OpenSourceSoap1" />
        <binding name="OpenSourceSoap1">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IQuoteService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQuoteService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IProductionService" />
        <binding name="BasicHttpBinding_IProductionService1" />
        <binding name="BasicHttpBinding_ILaborService" />
        <binding name="BasicHttpBinding_ILaborService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://itmart.it.tcg/customerservice" binding="basicHttpBinding"
        bindingConfiguration="secureBasic" contract="CustomerServiceReference.ICustomerService"
        name="basic" />
      <endpoint address="https://itmart.it.tcg/customerservice/windows"
        binding="basicHttpBinding" bindingConfiguration="secureWindows"
        contract="CustomerServiceReference.ICustomerService" name="windows" />
      <endpoint address="https://itmart.it.tcg/abccodeservice" binding="basicHttpBinding"
        bindingConfiguration="secureBasic" contract="ABCCodeServiceReference.IABCCodeService"
        name="basic" />
      <endpoint address="https://itmart.it.tcg/abccodeService/windows"
        binding="basicHttpBinding" bindingConfiguration="secureWindows"
        contract="ABCCodeServiceReference.IABCCodeService" name="windows" />
      <endpoint address="https://itmart.it.tcg/partservice" binding="basicHttpBinding"
        bindingConfiguration="secureBasic" contract="PartServiceReference.IPartService"
        name="basic" />
      <endpoint address="https://itmart.it.tcg/partservice/windows"
        binding="basicHttpBinding" bindingConfiguration="secureWindows"
        contract="PartServiceReference.IPartService" name="windows" />
      <endpoint address="https://itmart.it.tcg/freightrateservice"
        binding="basicHttpBinding" bindingConfiguration="secureBasic"
        contract="FreightRateServiceReference.IFreightRateService" name="basic" />
      <endpoint address="https://itmart.it.tcg/freightrateservice/windows"
        binding="basicHttpBinding" bindingConfiguration="secureWindows"
        contract="FreightRateServiceReference.IFreightRateService" name="windows" />
      <endpoint address="https://itmart.it.tcg/shiptoservice" binding="basicHttpBinding"
        bindingConfiguration="secureBasic" contract="ShipToServiceReference.IShipToService"
        name="basic" />
      <endpoint address="https://itmart.it.tcg/shiptoservice/windows"
        binding="basicHttpBinding" bindingConfiguration="secureWindows"
        contract="ShipToServiceReference.IShipToService" name="windows" />
      <endpoint address="https://itmart.it.tcg/quoteservice" binding="basicHttpBinding"
        bindingConfiguration="secureBasic" contract="QuoteServiceReference.IQuoteService"
        name="basic" />
      <endpoint address="https://itmart.it.tcg/quoteservice/windows"
        binding="basicHttpBinding" bindingConfiguration="secureWindows"
        contract="QuoteServiceReference.IQuoteService" name="windows" />
      <endpoint address="http://10.77.146.183/productionservice" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProductionService" contract="ProductionService.IProductionService"
        name="basic" />
      <endpoint address="http://10.77.146.183/productionservice/windows"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductionService1"
        contract="ProductionService.IProductionService" name="BasicHttpBinding_IProductionService1" />
      <endpoint address="http://10.77.146.183/laborservice" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILaborService" contract="LaborService.ILaborService"
        name="basic" />
      <endpoint address="http://10.77.146.183/laborservice/windows"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILaborService1"
        contract="LaborService.ILaborService" name="BasicHttpBinding_ILaborService1" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
