<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Styleline.WinAnalyzer.WinClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PowerAnalyzerConnectionString" connectionString="Data Source=SARV-SQLPROD01;Initial Catalog=PowerAnalyzer;User ID=AppPowerAnalyser;Password=aps71yncH3S7I0US" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <Styleline.WinAnalyzer.WinClient.Properties.Settings>
      <setting name="ComPort" serializeAs="String">
        <value/>
      </setting>
      <setting name="EnableFramelineRecord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDoorlineRecord" serializeAs="String">
        <value>False</value>
      </setting>
    </Styleline.WinAnalyzer.WinClient.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
