<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PackReport.Properties.Settings.MfgSys803ConnectionString"
            connectionString="Data Source=SARV-SQLPROD01;Initial Catalog=EpicorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>